@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent

<root>
	@if ( ShouldDisplay )
	{
		<div class="heartbeat-container">
			<div class="danger-vignette @ZoneClass"></div>

			<div class="heart-cluster">
				<div class="ring ring-1 @ZoneClass"></div>
				<div class="ring ring-2 @ZoneClass"></div>
				<div class="ring ring-3 @ZoneClass"></div>
				<div class="heart-icon @ZoneClass">♥</div>
			</div>
		</div>
	}
</root>

@code
{
	[Property] public HeartbeatSystem TargetSystem { get; set; }

	private bool ShouldDisplay
	{
		get
		{
			if ( TargetSystem == null ) return false;
			return TargetSystem.CurrentZone != HeartbeatZone.None;
		}
	}

	private string ZoneClass
	{
		get
		{
			if ( TargetSystem == null ) return "far";
			return TargetSystem.CurrentZone switch
			{
				HeartbeatZone.Close => "close",
				HeartbeatZone.Medium => "medium",
				HeartbeatZone.Far => "far",
				_ => "far"
			};
		}
	}

	protected override int BuildHash() => HashCode.Combine( ShouldDisplay, ZoneClass );
}
